.btnshadow{
    box-shadow:rgba(255, 255, 255, 0.7) 5px 5px 4px, 
    rgba(189, 194, 199, 0.75) 2px 2px 3px inset;
}

.divshadow{
    background-color:#ebeff3 ;
    box-shadow:rgba(255, 255, 255, 0.7) -4px -4px 4px, 
    rgba(189, 194, 199, 0.75) 5px 5px 4px;
}

.btnhovershadow:hover{
   @apply bg-gradient-to-l from-[#7B00FF] to-[#B200FF] shadow-[0px_2px_4px_0px_rgba(255,255,255,0.75)_inset,3px_3px_3px_0px_rgba(255,255,255,0.25)_inset,-8px_-8px_12px_0px_#7B00FF_inset,-4px_-8px_10px_0px_#B200FF_inset,4px_4px_8px_0px_rgba(189,194,199,0.75),8px_8px_12px_0px_rgba(189,194,199,0.25),-4px_-4px_12px_0px_rgba(255,255,255,0.75),-8px_-8px_12px_1px_rgba(255,255,255,0.25)]
}

.btnfocusshadow{
   @apply bg-gradient-to-l from-[#7B00FF] to-[#B200FF] shadow-[0px_2px_4px_0px_rgba(255,255,255,0.75)_inset,3px_3px_3px_0px_rgba(255,255,255,0.25)_inset,-8px_-8px_12px_0px_#7B00FF_inset,-4px_-8px_10px_0px_#B200FF_inset,4px_4px_8px_0px_rgba(189,194,199,0.75),8px_8px_12px_0px_rgba(189,194,199,0.25),-4px_-4px_12px_0px_rgba(255,255,255,0.75),-8px_-8px_12px_1px_rgba(255,255,255,0.25)]
}

.btnhovershadow:focus{
    @apply bg-gradient-to-l from-[#7B00FF] to-[#B200FF] shadow-[0px_2px_4px_0px_rgba(255,255,255,0.75)_inset,3px_3px_3px_0px_rgba(255,255,255,0.25)_inset,-8px_-8px_12px_0px_#7B00FF_inset,-4px_-8px_10px_0px_#B200FF_inset,4px_4px_8px_0px_rgba(189,194,199,0.75),8px_8px_12px_0px_rgba(189,194,199,0.25),-4px_-4px_12px_0px_rgba(255,255,255,0.75),-8px_-8px_12px_1px_rgba(255,255,255,0.25)]
 }

 .btnfocusshadowGreen{
    @apply bg-gradient-to-l from-[#6AE1B7] via-[#6AE1B7EB] to-[#6AE1B7]
 }
 